#gameboard{
    background-color: lightgreen;
}
footer{
    margin-top: 300px;
}
#score{
    color: red;
    text-align: center;
}
#health{
    color: blue;
    text-align: center;
}
#coins{
    color: yellow;
    text-align: center;
}
.buttons{
    font-size: 35px;
}